/* * {
  box-sizing: border-box;
} */

ul {
  list-style-type: none;
}

body {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: #dfe6e9;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.calendar {
  margin: auto;
  width: 800px;
  background-color: #fff;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 15px;
  text-align: center;
  background-color: white;
  color: black;
}

.weekdays {
  background-color: white;
  color: black;
  padding: 7px 0;
  display: flex;
  margin-bottom: 10px;
}

.days {
  font-weight: 300;
  padding: 10px 0;
  display: flex;  
  flex-wrap: wrap;
}

.weekdays div,
.days div {
  padding: 10px;
  text-align: center;
  width: 14.28%;
}

.days div {
  padding: 30px 0;
  
  transition: all 0.4s;
}

.prev_date {
  color: #999;
}

.next_date {
  color: #999;
}

.today {
  background-color: #5dbb83;
  color: #fff;
}

.days div:hover {
  cursor: pointer;
  background-color: #dfe6e9;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 23px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.prev:hover,
.next:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

#month {
  font-size: 30px;
  font-weight: 500;
}

.colorbar{
  width: 60px;
  height: 5px;
  border-radius: 20px;
  align-content: center;
  
}

.colorBarTypes{
  justify-content: space-around;
  display: flex;
  border: 1px solid red;
  
}
span{
  margin-top: 7px;
}